.home {
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  overflow-y: scroll;

  .home-inside {
    background: linear-gradient(#1d0d46, #121212 360px);
  }

  a:hover {
    text-decoration: underline;
  }

  .home-container {
    padding: 18px 32px;

    section {
      padding-bottom: 36px;
      .heading {
        padding-bottom: 14px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 24px;
      }
    }

    .section-1 {
      .content {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px 24px;
      }
    }
  }
}
