.app {
  height: 100vh;
  overflow: hidden;

  .main {
    height: calc(100vh - 90px);
    width: 100%;
    display: flex;
  }
}

/* Mobile Screen */
@media screen and (max-width: 540px) {
  .app .main {
    height: calc(100vh - 70px);
  }
}
